<div class="col-md-12">
  <div class="row">
    <p>
      <%= task.content %>
    </p>
    <p>
      <%= task.created_at.to_formatted_s(:short) %>
    </p>
  </div>
  <div class="row">
    <% if task.state == "doing" %>
        <%= link_to "<i class='fa fa-arrow-left'></i>".html_safe, change_task_path(task, state: "to_do"), method: :put, class: 'btn btn-primary' %>
    <% end %>
    <% if task.state == "done" %>
        <%= link_to "<i class='fa fa-arrow-left'></i>".html_safe, change_task_path(task, state: "doing"), method: :put, class: 'btn btn-primary' %>
    <% end %>
    <%= link_to "<i class='fa fa-eye'></i>".html_safe, task ,class: 'btn btn-primary' %>
    <%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_task_path(task), class: 'btn btn-primary' %>
    <%= link_to "<i class='fa fa-trash'></i>".html_safe, task, method: :delete, class: 'btn btn-primary' ,data: { confirm: 'Are you sure?' } %>
    <% if task.state == "doing" %>
        <%= link_to "<i class='fa fa-arrow-right'></i>".html_safe, change_task_path(task, state: "done"), method: :put, class: 'btn btn-primary' %>
    <% end %>
    <% if task.state == "to_do" %>
        <%= link_to "<i class='fa fa-arrow-right'></i>".html_safe, change_task_path(task, state: "doing"), method: :put, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
